<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculatorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44384/Calculator.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalculatorSoap" contract="ServiceCalculatorRef.CalculatorSoap"
                name="CalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>